/* GENERAL & UTILITIES */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
}

#app {
  min-height: 100vh;
  min-width: 100%;
  background-color: #000;
  color: #fff;
  float: left;
}

.flag-resize {
  height: 15px;
  margin: 3px 0 0 5px;
}

.img-resize {
  width: 308px;
  height: 450px;
  z-index: 2;
}

.img-resize:hover {
  opacity: 0;
  filter: alpha(opacity=0);
}

::-webkit-scrollbar {
  height: 15px;
  width: 10px;
  border: 1px solid #641818;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #1d1c1c;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background: #7c1111;
}

#movie-container > #slide-right {
  position: absolute;
  top: 165px;
  right: 0;
  background-color: #000;
  opacity: 0.7;
  height: 450px;
  width: 50px;
  font-size: 40px;
  z-index: 3;
}

.series-container > #slide-right {
  position: absolute;
  left: 1855px;
  background-color: #000;
  opacity: 0.7;
  height: 455px;
  width: 50px;
  font-size: 40px;
  z-index: 3;
}

#slide-right > i {
  position: absolute;
  top: 200px;
  right: 10px;
  cursor: pointer;
  text-decoration: none;
}

#movie-container > #slide-left {
  position: absolute;
  top: 165px;
  background-color: #000;
  opacity: 0.7;
  height: 450px;
  width: 50px;
  font-size: 40px;
  z-index: 3;
  cursor: pointer;
}

.series-container > #slide-left {
  background-color: #000;
  height: 450px;
  width: 50px;
  opacity: 0.7;
  font-size: 40px;
  position: absolute;
  z-index: 3;
}

#slide-left > i {
  position: absolute;
  top: 200px;
  left: 10px;
  cursor: pointer;
}
/* GENERAL & UTILITIES */

/* HEADER */
/* Nav LEFT */
.input-movies {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  color: rgb(146, 141, 141);
  width: 50%;
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  justify-content: space-around;
}

.nav-left div:hover {
  color: #fff;
  cursor: pointer;
}

.nav-left img {
  margin-right: 30px;
  cursor: pointer;
}

/* Nav RIGHT */
input {
  outline: none;
  height: 50px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  font-size: 25px;
  padding: 10px;
  margin-right: 20px;
}

input::placeholder {
  color: #fff;
}

.nav-right {
  padding-right: 22px;
}

.nav-right span:first-of-type {
  position: absolute;
  top: 35px;
  right: 145px;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
}

#custom-fa > i {
  font-size: 30px;
  cursor: pointer;
  margin: 0 10px;
}

#custom-fa div {
  position: absolute;
  top: 30px;
  right: 73px;
  height: 14px;
  width: 13px;
  background-color: red;
  border-radius: 100%;
  padding: 0 0 10px 3px;
}

#custom-fa div > span {
  position: absolute;
  right: 3px;
  top: -1px;
  font-size: 12px;
}

/* /HEADER */

/* MAIN */
#movie-container {
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.series-container {
  margin: 0 auto;
  padding: 15px;
  display: flex;
  position: relative;
}

.movie-box {
  width: 308px;
  height: 450px;
  margin: 2px 2px;
  cursor: pointer;
}

.movie-box div {
  margin: 10px;
}

.data-style {
  font-weight: bold;
}

.movie-box img {
  position: absolute;
}

.stars i {
  color: rgb(255, 196, 0);
}

.main-title {
  font-size: 40px;
  margin-left: 20px;
}
/* /MAIN */
