* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.show {
  display: block;
}

input {
  outline: none;
  width: 400px;
  height: 50px;
  margin: 20px;
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  font-size: 25px;
}

input::placeholder {
  color: #fff;
}

button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  vertical-align: -0.1em;
  border: 1px solid white;
}

button .fas {
  color: #fff;
  font-size: 30px;
}

#app {
  min-height: 100vh;
  min-width: 100%;
  background-color: #000;
  color: #fff;
}

.movie-container {
  margin: 0 auto;
  width: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.movie-box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 5px;
  cursor: pointer;
}

.movie-box img {
  position: absolute;
}

.data-box {
  position: absolute;
  top: 0px;
}

.img-resize {
  width: 300px;
  height: 400px;
}

.img-resize:hover {
  opacity: 0;
  filter: alpha(opacity=0);
}

.stars i {
  color: rgb(255, 196, 0);
}
