<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolflix</title>
</head>
<body>
    
    <div id="app">

        <div class="input-movies">

            <input type="text" placeholder="Cerca qui" v-model="inputValue" @keyup.enter="inputSearch">
            <button @click="inputSearch"><i class="fas fa-search"></i></button>

        </div>

        <div class="movie-container">
            <div class="movie-box" v-for="film in movies">

                <img :src="getPoster(film)" class="img-resize">
                <div>
                    <span>Titolo: {{film.title}}</span>
                </div>
                <div>
                    <span>Titolo originale: {{film.original_title}}</span>
                </div>
                <div>
                    <span>Lingua: {{film.original_language}}</span>
                </div>
                <div class="stars">
                    Voto: 
                    <i v-for="film in starRating(film.vote_average)" class="fas fa-star"></i>
                    <i v-for="film in (5 - starRating(film.vote_average))" class="far fa-star"></i>
                </div>
               
            </div>

        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>