<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Boolflix</title>
</head>
<body>
    
    <!-- VUE -->
    <div id="app">
        
        <!-- HEADER -->
        <header>
            
            <div class="input-movies">
                <nav class="nav-left">
                    <img src="img/logo.png" alt="logo boolflix">
                    <div>Home</div>
                    <div>SerieTV</div>
                    <div>Film</div>
                    <div>Originali</div>
                    <div>Aggiunti di recente</div>
                    <div>La mia lista</div>
                </nav>
                
                <nav class="nav-right">
                    <input type="text" placeholder="Cerca qui" v-model="inputValue" @keyup.enter="allSearch" spellcheck="false">
                    <span @click="allSearch"><i class="fas fa-search"></i></span>
                    <span id="custom-fa">
                        <div><span>1</span></div>
                        <i class="fas fa-bell"></i>
                        <i class="fas fa-user-circle"></i>
                    </span>
                </nav>
            </div>
            
       </header>
        <!-- /HEADER -->

        <!-- MAIN -->
        <main>
            <h1 class="main-title" v-if="movies.length !== 0">Film</h1>
            <div id="movie-container">

                <span id="slide-left" v-if="movies.length > 6" @click="slideLeft()"><i class="fas fa-chevron-left"></i></span>
                <div class="movie-box" v-for="film in movies">

                    <img :src="getPoster(film)" class="img-resize">
                    <div>
                        <span class="data-style">Titolo: </span> 
                        <span>{{film.title}}</span>
                    </div>
                    <div>
                        <span class="data-style">Titolo originale: </span> 
                        <span>{{film.original_title}}</span>
                    </div>
                    <div>
                        <span class="data-style">Lingua: </span> 
                        <span><img :src="showFlag(film)" class="flag-resize"></span>
                    </div>
                    <div>
                        <span class="data-style">Data d'uscita: </span>
                        <span>{{film.release_date}}</span>
                    </div>
                    <div>
                        <span class="data-style">Attori: </span>
                        <span>{{actors}}</span>
                    </div>
                    <div class="stars">
                        <span class="data-style">Voto: </span>
                        <i v-for="film in starRating(film.vote_average)" class="fas fa-star"></i>
                        <i v-for="film in (5 - starRating(film.vote_average))" class="far fa-star"></i>
                    </div>
                
                </div>
                <span id="slide-right" v-if="movies.length > 6" @click="scrollRight()"><i class="fas fa-chevron-right"></i></span>

            </div>   
            
            <h1 class="main-title" v-if="series.length !== 0">SerieTV</h1>
            <div class="series-container">
                
                <span id="slide-left" v-if="series.length > 6"><i class="fas fa-chevron-left"></i></span>
                <div class="movie-box" v-for="el in series">

                    <img :src="getPoster(el)" class="img-resize">
                    <div>
                        <span class="data-style">Overview: </span> 
                        <span>{{el.overview}}</span>
                    </div>
                    <div>
                        <span class="data-style">Lingua: </span> 
                        <span><img :src="showFlag(el)" class="flag-resize"></span>
                    </div>
                    <!-- <div>
                        <span class="data-style">Attori: </span>
                        <span>{{actors}}</span>
                    </div> -->
                    <div class="stars">
                        <span class="data-style">Voto: </span>
                        <i v-for="el in starRating(el.vote_average)" class="fas fa-star"></i>
                        <i v-for="el in (5 - starRating(el.vote_average))" class="far fa-star"></i>
                    </div>
                
                </div>
                <span id="slide-right" v-if="series.length > 6"><i class="fas fa-chevron-right"></i></span>
                
            </div>    
        </main>
        <!-- /MAIN -->

    </div>
    <!-- /VUE -->

    <script src="js/script.js"></script>
</body>
</html>